@media only screen and (min-width: 922px) {
  .menu          {
      display: none;
  }
    
  .mobile-menu {
    display: none;
  }

  .top-header {
    background-color: #3e3e3e;
    color: white;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .top-header img {
    height: 20px;
    padding-top: 8px;
  }

  .top-header ul {
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
  }

  .top-header li {
    padding: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .logo h1{
    margin-left: 25px;
    padding: 2px;
    margin-top: 20px;
  }
  .desktop-nav .desktop-menu {
    margin-top: 40px;
    color: white;
  }
  .desktop-menu a {
    font-weight: 400;
    font-size: 25px;
    padding: 2px;
    margin-right: 20px;
    color: white;
    transition: .3s all ease-in-out;
  }

  .desktop-nav a:hover {
    color: #b39065;
    text-decoration: underline;
  }

  .hero-container {
    margin-top: 18%;
    padding: 50px;
  }

  .hero-container h1 {
    font-size: 40px;
  }

  .hero-container .TitleMark {
    display: none;
  }

  /* Details */
  .main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-top: 50px;
    padding-bottom: 50px;
    column-gap: 8px;
    gap: 3em;
  }

  .main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .card-title {
    font-size: 25px;
    line-height: 20px;
    padding-top: 20px;
  }

  .card-details {
    width: 75%;
    padding-top: 15px;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
  }

  /* Our service */
  .service-card {
    /* display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
    border-top: 2px solid white;
    padding-top: 20px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    margin-top: 50px;
    padding-bottom: 50px;
    column-gap: 8px;
    gap: 3em;
  }

  .row {
    flex-direction: row-reverse;
  }


  /* Why us */
  .content h1 {
    padding-left: 10px;
    font-size: 45px;
  }
  
  .content p {
    display: none;
  }

  .content-details {
    margin-left: 45%;
  }

  .info {
    background-color: transparent;
  }
  .content-info {
    color: white;
    font-size: 30px;
  }

  /* Numbers */
  #numbers {
    display: flex; 
    justify-content: space-between; 
  }

  .number-lefttxt {
    flex: 1; 
  }
  .number-righttxt {
    flex: 1;
    margin-top: 20px;
  }

  .txt {
    text-align: center; 
    padding: 10px; 
  }

  .counter {
    font-size: 24px; 
  }

}
