@media only screen and (min-width: 768px) {
    .menu          {
        display: none;
      }
    
      .mobile-menu {
        display: none;
      }
    
      .top-header {
        background-color: #3e3e3e;
        color: white;
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
    
      .top-header img {
        height: 20px;
        padding-top: 8px;
      }
    
      .top-header ul {
        display: flex;
        justify-content: space-between;
        padding-right: 150px;
      }
    
      .top-header li {
        padding: 10px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 12px;
      }
    
      .desktop-nav {
        display: flex;
        justify-content: space-between;
      }
      .desktop-nav img {
       padding: 0;
       margin: 0;
      }
    
      .desktop-nav .desktop-menu {
        margin-top: 40px;
        font-weight: 700;
        font-size: 25px;
        color: #191919;
      }
      .desktop-menu a {
        padding: 2px;
        margin-right: 20px;
        color: black;
        transition: .3s all ease-in-out;
      }
    
      .desktop-nav a:hover {
        color: #b39065;
        text-decoration: underline;
    }

    .hero-container {
        margin-top: 18%;
        padding-left: 90px;
      }
    
      .hero-container h1 {
        font-size: 40px;
      }

      .hero-container .TitleMark {
        border: 2px solid whitesmoke;
        width: 10%;
        margin-left: 4%;
      }
      /* Details */
      .main-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        margin-top: 50px;
        column-gap: 8px;
        gap: 3em;
      }
    
      .main-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

      }
    
      .card-title {
        font-size: 25px;
        line-height: 20px;
        padding-top: 20px;
      }
    
      .card-details {
        width: 75%;
        padding-top: 15px;
        font-size: 18px;
        text-align: center;
        line-height: 20px;
      }
}